<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceSmartH2O" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4962/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceSmartH2O" contract="ServiceReference1.IServiceSmartH2O"
                name="BasicHttpBinding_IServiceSmartH2O" />
        </client>
    </system.serviceModel>
</configuration>